{% extends 'base.html' %}
{% load static %}
{% block title%}
<title>Home - Quakers and the Holocaust</title>
{% endblock %}

{% block content %}
<section class="page-section clearfix">
    <div class="container">
        <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="static/img/Friends_Ambulance_Unit_ambulance_driver,_with_his_vehicle_in_Wolfsburg,_Germany.jpg">
            <div class="intro-text left-0 text-centerfaded p-5 rounded bg-faded text-center">
                <h2 class="section-heading mb-4"><span class="section-heading-upper">A collaborative</span><span class="section-heading-lower" style="font-size: 38px;">Research Collection</span></h2>
                <p class="mb-3">Quakers and the Holocaust is a collection of materials related to the response of Quakers to the rise of National Socialism, World War II and the Holocaust.&nbsp;</p>
                <div class="mx-auto intro-button"><a class="btn btn-primary d-inline-block mx-auto btn-xl" role="button" href="#">Visit the collection</a></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4"><span class="section-heading-lower">Add materials</span></h2>
                    <p class="mb-0">This is a collaborative effort to build a community resource.&nbsp; Please click here to contribute materials and references to materials related to the topic of Quakers and the Holocaust.&nbsp; Your links and materials will be
                        added to the collection and will be available for research tasks.&nbsp;&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4"><span class="section-heading-lower">Research</span></h2>
                    <p class="mb-0">All materials in this collection are searchable and available as data for computational research.&nbsp; Click here to export materials as data, create visualizations and other digital humanities tasks.&nbsp;&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}