<h1 class="text-center text-white d-none d-lg-block site-heading"><span class="text-primary site-heading-upper mb-3"></span><span class="site-heading-lower">Quakers &amp; the Holocaust</span></h1>
<nav class="navbar navbar-light navbar-expand-lg bg-dark py-lg-4" id="mainNav">
    <div class="container"><a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#">Quakers and the Holocaust</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div
            class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav mx-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="about.html">About</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="products.html">Collection</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="store.html">Research</a></li>
            </ul>
    </div>
    </div>
</nav>
